/.vscode
/Dictionary Entry.html
/Dictionary Entry.zip
/Ninja.png
/node-v16.0.0-x64.msi
/PushToGitHub
/Salinas_Araceli_JSPredict (1).zip
/Salinas_Araceli_JSPredict (2).js
/Salinas_Araceli_JSPredict (3).js
/Salinas_Araceli_JSPredict.js
/Salinas_Araceli_JSPredict.zip
/Salinas_Araceli_VS_Assignment_1.html
/Salinas_Araceli_VS_Assignment_1.zip